# Add your API key here. 
# For GPU/OpenAI:
OPENAI_API_KEY=sk-proj-**** # Enter your API  here
OTEL_SDK_DISABLED=true
CREWAI_TELEMETRY_OPT_OUT=true

# For Local CPU (Ollama):
# OPENAI_API_BASE='http://localhost:11434/v1'
# OPENAI_MODEL_NAME='llama3'
