.correct-value {
  color: #8ea604;
}

.incorrect-value {
  color: #bf3100;
}

.img-circle {
    border-radius: 50%;
    border: 4px solid #ff6622;
    width: 128px;
    height: 128px;
      display: block;
    position: absolute;
}

.overlapping-images
{
    position: relative;
    height: 128px;
}

.img-left
{
    z-index: 1;
    left: calc(35% - 64px);
}

.img-right
{

    top: 0;
    z-index: 2;
    left: calc(65% - 64px); 
}

body {
  font-family: 'Inter', sans-serif;
}