# This generates a new templates.json file with the recipes embedded on every push.

name: Generate Embedded Templates

# Controls when the action will run. Triggers the workflow on push
# events but only for main and branches that start with "release"
on:
  push:
    branches: 
      - "main"
      - "release*"

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "pull-request"
  generate-templates:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.7
    - name: Generate recipe set containing with templates containing embedded recipes
      shell: bash
      run: |
        pip install --upgrade boto3
        make templates.json
