name: update references
on:
  # Run manually by clicking a button in the UI
  workflow_dispatch:
  # always run CI on new commits to any branch
  create:

jobs:
  update-reference:
    if: ${{ contains(github.ref, 'refs/heads/release') }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.7
      - name: Write new reference into recipe files
        run: python .ci/update-references.py ${GITHUB_REF##*/}
      - name: Diff recipes
        id: diff
        run: echo "::set-output name=result::$(git diff --quiet . || echo 'true')"
      - name: Commit new files
        if: ${{ steps.diff.outputs.result }}
        run: |
          git config --global user.name "saturn-automation"
          git config --global user.email "automation@saturncloud.io"
          git add *.json
          git commit -m "Update reference in every recipe"
          git push origin ${{ github.ref }}:refs-${{ github.job }}
      - name: Open PR
        if: ${{ steps.diff.outputs.result }}
        uses: repo-sync/pull-request@v2
        with:
          source_branch: refs-${{ github.job }}
          destination_branch: ${{ github.ref }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
          pr_title: "Update references in all recipes"
          pr_body: ":rocket: *An automated PR* - Please make any changes needed to resolve merge conflicts and then approve and merge!"
          pr_reviewer: "forana,jsignell,${{ github.actor }}"
